<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- 写入日志文件 -->
		<target xsi:type="File" name="logfile" fileName="${basedir}/logs/logfile-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString,StackTrace}" />

		<!-- 控制台日志（可选） -->
		<target xsi:type="Console" name="console"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString,StackTrace}" />
	</targets>

	<rules>
		<!-- 将日志级别为Info及以上的日志写入文件 -->
		<logger name="*" minlevel="Info" writeTo="logfile" />

		<!-- 将日志级别为Debug及以上的日志写入控制台 -->
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>
